/* admin.css */
/* Estilos compartidos para Comentarios y Reservas */
.admin-consultas,
.admin-reservas {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;

    border-radius: 10px;
    background-color: #7ca8639f;
}


/* admin.css */

.admin-intro {
    margin: 20px auto; /* Espaciado superior e inferior y centrado horizontal */
    padding: 15px; /* Espaciado interno */
    background-color: #69aa55ab; /* Fondo claro */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5); /* Sombra sutil */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: center; /* Centrar el contenido */
    max-width: 800px; /* Ancho máximo para limitar el tamaño */
    
}

.admin-intro h1 {
    font-size: 3em; /* Tamaño de fuente para el encabezado */
    color: #504d4d; /* Color del texto del encabezado */
    margin-bottom: 15px; /* Espacio inferior para separación */
}

.admin-intro p {
    font-size: 1.8em; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea */
    color: #000000; /* Color del texto */
    text-align: center; /* Justificar el texto */
    padding-left: 1em; /* Espaciado lateral */
    padding-right: 1em; /* Espaciado lateral */
}


.comentario-item,
.reserva-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    margin-bottom: 10px;
}

.comentario-datos,
.reserva-datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.comentario-texto p,
.reserva-datos p {
    margin: 5px 0;
    font-size: 14px;
}

.comentario-datos strong,
.reserva-datos strong {
    font-weight: bold;
    color: #333;
}

.admin-consultas h3,
.admin-reservas h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

/* Ajustes adicionales para alinear los datos */
.reserva-datos p,
.comentario-datos p {
    flex: 1;
    padding: 0 10px;
}

.reserva-datos strong,
.comentario-datos strong {
    width: 100px; /* Alinea los títulos de los datos */
}

.btn-cancelar {
    background-color: #da376d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
}

.btn-pagar{
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado */
    text-align: center; /* Centrar texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como un bloque en línea */
    margin-top:10px;
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
    margin-left: 10px;
}

.btn-cancelar:hover {
    background-color: #f5749f;
}

/* Estilo para el separador entre las listas */
.separador-listas {
    margin: 0;
    height: 5em; /* Grosor del separador */
    background-color: #e4ffce; /* Color de fondo del separador */
    border-radius: 4px; /* Bordes redondeados */
    width: 100%;

}

/*PDF*/
.btn-generar-pdf {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado */
    text-align: center; /* Centrar texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como un bloque en línea */
    margin-top:10px;
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
    margin-left: 10px;
}

.btn-generar-pdf:hover {
    background-color: #45a049; /* Color de fondo más oscuro al pasar el mouse */
}


@media (max-width: 380px) {
    .reserva-datos {
        flex-direction: column; /* Cambia la dirección del flex a columna */
        align-items: center; /* Centra los elementos */
        justify-content: center; /* Centra el contenido verticalmente */
        margin-bottom: 5px; /* Ajusta el margen si es necesario */
    }
    .btn-pagar, .btn-generar-pdf{
        margin-left: 0px;
    }
}