/* Estilos generales para el footer */
footer {
    background-color: #e44879;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 23px solid #ddd; /* Asegúrate de que el borde sea sólido */
    padding: 0 1em; /* Añadido padding para los laterales */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilos para los encabezados */
h1 {
    font-size: 22px;
}

/* Estilos para los párrafos */
p {
    color: white;
    font-size: 16px;
}

/* Estilo específico para los sectores */
.sector_derecho, .sector_izquierdo {
    margin: 0 20px;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        height: auto; /* Ajusta la altura para el contenido dinámico */
        padding: 1em 0; /* Ajusta el padding para mejor presentación */
    }

    .sector_derecho, .sector_izquierdo {
        margin: 10px 0; /* Añade espacio entre los sectores en pantallas pequeñas */
    }
    
    .sector_medio {
        margin: 10px 0; /* Añade espacio alrededor del sector medio en pantallas pequeñas */
    }
}
