/* src/App.css */

/* Estilos generales */
.App {
  font-family: Arial, sans-serif;
}

/* Sección de Bienvenida */
.bienvenida {
  width: 100%;
  height: 47.5em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.6)),
    url(img/imagen_inicio1.jpg);
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
}

.bienvenida h1 {
  font-size: 3.75em;
  text-align: center;
  margin-bottom: 0.9375em;
  color: white;
}

.bienvenida p {
  margin-top: 0.625em;
  margin-bottom: 2.5em;
  font-size: 1.5625em;
  /* line-height: 1.5; */
  max-width: 34.375em;
  text-align: center;
  color: white;
}

.botonMasInfo{
  display: flex; /* Necesario para aplicar margin auto y centrar el texto */
   
  justify-content: center;
  align-items: center;
  border-radius: 2.5em;
  border-style: none;
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.6);
  width: 15.625em;
  height: 4.375em;
  color: white;
  background-color: #CD3363;
  background-size: 3.125em;
  font-size: 1.25em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.botonMasInfo:hover {
  transform: scale(1.1);
  background-color: #da6086;
}


/* Sección 1 */
.seccion1 {
  width: 100%;
  height: 53.125em;
  display: flex;
  justify-content: space-around;
  background-color: #fce3a9;
}

.seccion1_articulo, .seccion1_aside {
  flex: 1;
}

.seccion1_articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.seccion1_aside {
  background-image: url(img/imagen_inicio2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.seccion1_titulo {
  font-size: 3.4em;
  margin-right: 0.625em;
  
}

.seccion1_texto {
  text-align: justify;
  font-size: 1.875em;
  max-width: 29em;
  color: black;
  width: 80%;
  margin-right: 2em;
}

/* Sección 2 */
.seccion2 {
  position: relative;
  width: 100%;
  height: 43.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.seccion2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/imagen_3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(0.1em);
  z-index: -1;
}

.seccion2_articulo, .seccion2_aside {
  width: 45%;
}

.seccion2_articulo {
  margin-left: 5%;
  text-align: left;
}

.seccion2_articulo h2 {
  font-size: 2.8125em;
  color: white;
  text-align: center;
  max-width: 100%;
}

.seccion2_articulo p {
  font-size: 1.5em;
  max-width: 37.5em;
  color: white;
  text-align: center;
}

.seccion2_aside {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.inputComent {
  width: 47.5em;
  height: 5em;
  border-radius: 1.5625em;
  padding: 0.625em;
  font-size: 0.75em;
  border: 0.03125em solid #000000;
}

.seccion2_aside button {
  margin-top: 0.8125em;
  border-radius: 2.5em;
  border: none;
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.6);
  width: 29.7em;
  height: 3.125em;
  color: white;
  background-color: #CD3363;
  background-size: 3.125em;
  font-size: 1.25em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.seccion2_aside button:hover {
  background-color: #da6086;
  transform: scale(1.02);
}

@media (max-width: 1360px) {
  .App {
    font-size: 14px; /* Ajusta el tamaño base de la fuente */
  }

  /* Sección de Bienvenida */
  .bienvenida h1 {
    font-size: 3em; /* Reduce el tamaño del título */
  }

  .bienvenida p {
    font-size: 1.25em; /* Reduce el tamaño del texto */
  }

  .botonMasInfo {
    width: 13em; /* Reduce el tamaño del botón */
    height: 3.5em;
    font-size: 1.1em; /* Reduce el tamaño de la letra del botón */
  }

  /* Sección 1 */
  .seccion1_titulo {
    font-size: 3em; /* Reduce el tamaño del título en la Sección 1 */
  }

  .seccion1_texto {
    font-size: 1.5em; /* Reduce el tamaño del texto */
    width: 75%; /* Ajusta el ancho para que quede más proporcional */
    text-align: center;
  }

  /* Sección 2 */
  .seccion2_articulo h2 {
    font-size: 2.5em; /* Ajusta el tamaño del título en la Sección 2 */
    ;
  }

  .seccion2_articulo p {
    font-size: 1.25em; /* Ajusta el tamaño del párrafo */
  }

  .seccion2_aside .inputComent {
    width: 35em; /* Reduce el tamaño del input */
    height: 4.5em;
    font-size: 0.8em; /* Ajusta el tamaño del texto del input */
  }

  .seccion2_aside button {
    width: 26em; /* Reduce el tamaño del botón */
    height: 3em;
    font-size: 1.1em; /* Ajusta el tamaño de la letra del botón */
  }

  /* Centrar los textos */
  .bienvenida, .seccion1_articulo, .seccion2_articulo {
    text-align: center;
  }
}



/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .bienvenida {
    height: 25em;
    
  }
  
  .bienvenida h1 {
    font-size: 2.5em;
    margin-bottom: 0.4em;
  }
  
  .bienvenida p {
    font-size: 1em;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  
  .botonMasInfo {
    width: 30%;
    font-size: 1em;
  }
  
  .seccion1 {
    flex-direction: column;
    height: auto;
    
  }
  
  .seccion1_titulo {
    font-size: 2.5em;
  }
  
  .seccion1_texto {
    font-size: 1.25em;
    text-align: center;
  }
  
  .seccion2 {
    flex-direction: column;
    height: auto;
    
  }
  
  .seccion2_articulo, .seccion2_aside {
    width: 100%;
    margin: 0 0 2em 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .seccion2_articulo p{
    text-align: center;
  }
  .inputComent {
    width: 70%;
    margin-left: 1em;
  }
  
  .seccion2_aside button {
    width: 73%;
  }
}
@media (max-width: 480px) {
  /* Ajustes generales para la aplicación */

  
  /* Sección de Bienvenida */
  
  .bienvenida h1 {
    font-size: 1.5em; /* Reduce el tamaño de la letra */
    margin-bottom: 3px;
  }

  .bienvenida p{
    text-align: center; /* Asegura que el texto esté centrado */
    font-size: 0.8em;
    margin:2em;
  }

  .botonMasInfo {
    width: 12em; /* Reduce el tamaño del botón */
    height: 3.5em; /* Reduce la altura del botón */
    font-size: 1em; /* Reduce el tamaño del texto del botón */
    margin-bottom: 15px;
    
  }

  /* Sección 1 */
  .seccion1 {
    flex-direction: column; /* Cambia la disposición a columna */
    align-items: center; /* Centra el contenido */
    justify-content: center;
  }

  .seccion1_articulo, .seccion1_aside {
    width: 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
    
  }

  .seccion1_articulo h1 {
    font-size: 2.6em; /* Reduce el tamaño del título */
    margin-bottom: 0;
  }

  .seccion1_texto {
    font-size: 1.15em; /* Reduce el tamaño del texto */
    text-align: center; /* Centra el texto */
    
    
  }

  /* Sección 2 */
  .seccion2 {
    flex-direction: column; /* Cambia la disposición a columna */
    align-items: center; /* Centra el contenido */
  }
  .seccion2_articulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .seccion2_articulo h2 {
    font-size: 2em; /* Reduce el tamaño del título */
    text-align: center; /* Centra el texto */
    max-width: 20em;
  }

  .seccion2_articulo p {
    font-size: 1.2em; /* Reduce el tamaño del texto */
    text-align: center; /* Centra el texto */
  }
  .seccion2_aside{
    display: flex;
    align-items: center;
  }
  .inputComent {
    width: 80%; /* Hace que los inputs ocupen el 100% del ancho disponible */
    height: 4em; /* Reduce la altura del input */
    font-size: 0.875em; /* Reduce el tamaño del texto en el input */
    margin-left: 0;
  }

  .seccion2_aside button {
    width: 70%; /* Botón ocupa el 100% del ancho */
    height: 3em; /* Reduce la altura del botón */
    font-size: 1em; /* Reduce el tamaño del texto del botón */
  }
}

