html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.principal{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.904);
}
.opc_servicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Una columna */
    gap: 1rem; /* Espacio entre los divs */
    justify-items: center; /* Centrar los divs horizontalmente */
    align-items: center; /* Centrar los divs verticalmente */
    background-color: #fffff5e5; /* Fondo del contenedor */
    padding: 2rem; /* Padding alrededor de los servicios */
   
  }

  .serv{
    flex-direction: column;
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  h1{
    
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    align-self: center;
    text-align: center;
  }
  
  .opc_servicios div {
    background-color: #3f3f3f9a; /* Color de fondo para los divs de servicios */
    color: rgb(255, 255, 255); /* Color del texto */
    padding: -4em;
    border-radius: 1rem; /* Bordes redondeados de cada servicio */
    font-family: "Poppins", sans-serif; /* Fuente del texto */
    font-size: 1.2rem; /* Tamaño del texto */
    text-align: center; /* Centrar el texto */
    width: 70%; /* Ocupa todo el ancho disponible */
    height: 25em;
    box-shadow: 2px 2px 2px rgb(0, 0, 0 , 0.5);
    transition: transform 0.2s ease;
  }
  .opc_servicios div:hover{
    transform: scale(1.1);
  }
  .img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
    width: 100%;
    height:  50%;
  }
  .boton,.boton2{
    background-color: rgb(253, 101, 152);
    width: 80%;
    height: 7%;
    border-radius: 5em;
    font-family: "Poppins",sans-serif;
    font-weight: 200;
  }
  .boton{
    color:black;
    margin-bottom: 10%;
    transition: transform 0.2s ease;
    text-decoration: none;
  }
  .boton:hover{
    transform:scale(1.1);
  }

  .DescripcionServicios{
    background-color: rgba(245, 53, 187, 0.459);
    padding-bottom: 4em;
  }
  
  .seccion {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    gap: 1.5rem; /* Añade espacio entre la imagen y el texto */
    
    margin-bottom: 3em;
    margin-left: 3em;
  }
  
  .Descripcion{
    margin-top:4em;
  }
  
  h2 {
    font-family: "Poppins",sans-serif;
    font-weight: 400; /* Ajusta el tamaño del texto */
    max-width: 60%; /* El texto ocupa el 60% del ancho */
    text-align: justify; /* Alinea el texto a la izquierda */
    font-size: 1.7em;
  }
  
 

  .imagenDeServicios{
    width: 30em;
    height: 16em;
    border-radius: 3em 0 0 3em;
    margin-top:0.5em;
  }
  
  